@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #64dfac 35%, rgb(233, 173, 61) 100%);
}
.page {
    background-color:#047526;
    padding-right: 50px;
    height: 250px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 .8rem 2.5rem #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page.active {
    height: 300px;
    
}

.page.active .header h1 {
    font-size: 2.5rem;
    
}

.header-form {
    padding-left: 50px;
    margin-right: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:    center;
}

.page .header h1 {
    font-size: 20px;
    text-align: center;
    color: #eee;

}

.page .header p {
    font-size: 15px;
    margin-bottom: 5px;
    text-align: center;
    color: #eee;
}

.page .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page .form input {
    background-color: transparent;
    width: 100%;
    outline: none;
    height: 40px;
    margin-bottom: 2rem;
    border: 2px solid rgb(202, 102, 21);
    border-bottom:  solid rgb(202, 102, 21);
}

.page .form input::placeholder{
    padding-left: .5rem;
    color: #eee;
    font-style: italic #eee;
}

.page .form  button {
    width: 100%;
    height: 40px;
    background-color: rgb(190, 117, 33);
    outline: none;
    border: none;
    border-radius: 5px;
    color: #eee;
    cursor: pointer;
}

.page .form button:hover{
    border: .1rem solid rgb(74, 151, 97);
    color: rgb(74, 151, 97);
    transform: scale(1.05);
    background-color:  rgb(245, 184, 149);
    font-weight: bolder;
}

.page .qr-code {
    display: none;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 5px;
    pointer-events: none;
    border: 1px solid rgb(190, 117, 33);
}

.page .qr-code img {
    width: 150px;
}

.page.active .qr-code{
    display: block;
    transition: all .5s .5s ease;
}